@use './util.scss' as u;

:root {
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 84%);
  line-height: 1;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1200;
  padding-bottom: u.rem(50);

  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: u.rem(30);
}

.buttons-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: u.rem(30);
  justify-items: center;
  align-items: center;

  margin: u.rem(25) u.rem(20);
}

.menus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: u.rem(50);
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: u.rem(20);
  justify-items: center;
  align-items: center;
  padding-inline: u.rem(40);
}
