@use '../util' as u;

.hamburger-menu {
  position: relative;
  height: u.rem(50);
  width: u.rem(50);
  padding: u.rem(16);

  cursor: pointer;

  &__bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: u.rem(4);

    background-color: var(--white);

    transform: translate(-50%, -50%);
    transition: transform 0.6s, opacity 0.8s, top 0.6s;

    &.top {
      top: 25%;
    }

    &.bottom {
      top: 75%;
    }
  }

  &.open &__bar.top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }

  &.open &__bar.mid {
    opacity: 0;
  }

  &.open &__bar.bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }
}
