@use '../util.scss' as u;

.card-b {
  position: relative;

  cursor: pointer;

  width: u.rem(300);

  font-family: Arial, Helvetica, sans-serif;

  .cover {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: u.rem(300);
    height: u.rem(200);

    background-color: hsl(0, 0%, 84%);

    transition: all 0.5s;
    transform: translateY(50%);

    z-index: 1;

    &__img-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      opacity: 0.5;
      transition: all 0.5s;
    }

    &__img {
      width: u.rem(100);
    }
  }

  .main {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: u.rem(20);
    width: u.rem(300);
    height: u.rem(200);

    background-color: var(--white);
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.4);

    transition: all 0.5s;
    transform: translateY(-50%);

    &__description {
      margin: 0;
      padding: 0;
    }

    &__link {
      display: inline-block;

      margin-top: u.rem(16);
      padding: u.rem(4);

      font-weight: 900;
      color: hsl(0, 0%, 47%);
      text-decoration: none;

      border: 1px solid hsl(0, 0%, 47%);

      &:hover {
        background-color: hsl(0, 0%, 47%);
        color: var(--white);
      }
    }
  }

  &__heading {
    margin-top: u.rem(10);

    color: var(--white);
    font-size: u.rem(24);
    text-align: center;
  }

  &:hover {
    .cover {
      background-color: hsla(94, 100%, 61%, 0.8);

      transform: translateY(0);

      &__img-box {
        opacity: 1;
      }
    }

    .main {
      transform: translateY(0%);
    }
  }
}
