@use '../util/' as u;

.card-g {
  position: relative;

  width: min(u.rem(350), 85%);
  padding: u.rem(80) u.rem(24);

  text-align: center;

  box-shadow: 0px 0px 50px 0px hsla(0, 0%, 0%, 0.1);

  transition: all 0.3s;

  .heading--tertiary {
    font-size: u.rem(20);
    letter-spacing: 0.25px;
    text-align: center;

    transition: all 0.3s;
  }

  &__img-box {
    position: relative;

    margin-bottom: u.rem(48);

    img {
      width: u.rem(64);
      height: auto;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      content: '';
      width: u.rem(120);
      padding-bottom: u.rem(120);

      z-index: -1;
      transform: translate(-50%, -50%);

      border-radius: 50%;
    }

    &::before {
      display: block;
      background-color: var(--primary);
    }

    &::after {
      display: none;
      background-color: var(--primary-light);
    }
  }

  p {
    font-size: u.rem(14);
    line-height: 1.5;
  }

  &::before {
    position: absolute;
    content: '';
    margin: auto;
    inset: 0;
    width: 90%;
    height: 90%;

    border: 2px solid var(--primary);

    z-index: 99;
  }

  &:hover {
    background-color: var(--primary);

    color: var(--white);

    transform: scale(1.02);

    &::before {
      border-color: var(--white);
    }

    .card-persuasive__img-box {
      z-index: 9;

      &::before {
        display: none;
      }

      &::after {
        display: block;
      }
    }

    .heading--tertiary {
      color: var(--white);
    }
  }

  @include u.md-screen {
    width: clamp(18.75rem, 39.06vw, 25rem);
    height: clamp(18.75rem, 39.06vw, 25rem);

    padding-block: clamp(3.75rem, 7.81vw, 5rem);

    .heading--tertiary {
      font-size: clamp(1rem, 2.08vw, 1.333rem);
    }

    &__img-box {
      margin-bottom: clamp(2.25rem, 4.69vw, 3rem);

      &::before,
      &::after {
        width: clamp(6rem, 12.5vw, 8rem);
        padding-bottom: clamp(6rem, 12.5vw, 8rem);
      }
    }

    img {
      width: clamp(3.375rem, 7.03vw, 4.5rem);
      height: auto;
    }

    p {
      font-size: clamp(0.75rem, 1.56vw, 1rem);
      width: clamp(17.5rem, 36.46vw, 23.333rem);
    }
  }

  @include u.xl-screen {
    width: u.rem(250);
    height: u.rem(500);

    padding-block: u.rem(96);
  }
}
