@use '../util' as u;

.btn-flip-open {
  display: inline-block;

  position: relative;

  width: u.rem(150);
  height: u.rem(60);

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: u.rem(60);
  letter-spacing: 2px;

  background-color: transparent;
  color: var(--white);
  transition: 100 0.2s;

  &:before {
    content: '';

    position: absolute;
    top: -3px;
    left: -3px;

    width: 100%;
    height: 100%;

    background-color: hsl(194, 100%, 56%);
    // specifies how an element's content should blend with its direct parent background
    mix-blend-mode: multiply;

    z-index: -1;

    transition: all 0.2s;
    transform-origin: top;
  }

  &:after {
    content: '';

    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;

    background-color: hsl(0, 100%, 73%);
    mix-blend-mode: multiply;

    z-index: -1;

    transition: all 0.2s;
    transform-origin: bottom;
  }

  &:hover {
    color: hsl(0, 0%, 5%);

    &:before {
      top: -6px;
      left: 0;

      transform: perspective(1000px) rotateX(75deg);
    }

    &:after {
      top: 6px;
      left: 0;
      transform: perspective(1000px) rotateX(-75deg);
    }
  }
}
