@use '../util.scss' as u;

.btn-border-growing {
  position: relative;

  display: inline-block;

  padding: u.rem(18) u.rem(12);

  width: u.rem(200);

  color: var(--white);
  background-color: hsl(39, 100%, 50%);

  font-size: u.rem(24);
  text-align: center;
  text-decoration: none;

  border: none;

  cursor: pointer;

  &:before {
    position: absolute;

    content: '';

    width: u.rem(24);
    height: u.rem(24);

    top: -5px;
    left: -5px;

    border-top: 3px solid hsl(39, 100%, 50%);
    border-left: 3px solid hsl(39, 100%, 50%);

    transition: all 0.25s;
  }

  &:after {
    position: absolute;

    content: '';

    width: u.rem(24);
    height: u.rem(24);

    bottom: -5px;
    right: -5px;

    border-bottom: 3px solid hsl(39, 100%, 50%);
    border-right: 3px solid hsl(39, 100%, 50%);

    transition: all 0.25s;
  }

  &:hover {
    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }
  }
}
